<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Friendship Visualizer</title>

<h2>Your friend</h2><br><br>
<% if (list == undefined || list.length == 0) { %>
  No friends :(
<% } else { %>
  <% for (var i = 0; i < list.length; i++) { %>
    <a href="/profile/?user=<%= list[i] %>"><%=list[i]%></a><br>
  <% } %>
<% } %>

<%= json %>
</body>
</html>